@model IEnumerable<WebApplication_ChainStores.Models.Orders_Stores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stores.City)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.Post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stores.City)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderStoreID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderStoreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderStoreID })
        </td>
    </tr>
}

</table>
